@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.animated-words-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    /* Initially hidden */
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.hero .line {
    font-size: 6rem;
    /* Adjust size as needed */
    line-height: 1.2;
    margin: 0;
}

.hero .transparent {
    /* Gradient from white to transparent */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .hero .line {
        font-size: 4rem;
    }
}
